html,
body{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    font-size: 14px;
    color: #fff;
    font-family: "Segoe UI", "Heveltica Neue",Arial, Helvetica, sans-serif;
}

h1{
  font-size: 45px;
  font-family: "Lobster", sans-serif;
  font-weight: 300;
  font-style: normal;
  color:#FFFFFF;
}
a{
    text-decoration: none;
}
.formulario{
    display: flex;
    border:1.5px solid #3A3A3A;
    flex-direction: column;
    text-align: center;
    padding: 0px 35px 35px;
    gap: 5px;
    width: 270px;
}
input{
    padding: 12px;
    padding-left: 10px;
    background-color: #121212;
    border:1.5px solid #262626;
    text-align: left;
    font-size: 11px;
    
}
.btn{
    background-color: #0095f6;
    color:white;
    border:none;
    width: 100%;
    border-radius: 10px;
    padding: 10px; 
    cursor: pointer;
    margin-top: 20px;
}
.divisor{
    
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.linea1{
    border:1px solid #3A3A3A;
    width: 100px;

}
.o{
    color: #3A3A3A;
    font-size: 20px;
}
.linea2{
    border: 1px solid #3A3A3A;
    width: 100px;
}
.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    margin-top: 40px;
    color: #0095f6;
    padding-top: 15px;

}

svg{
    width: 30px;
}
.colorcontraseña{
    color: #fff;
}
.cuenta{
    border: 1.5px solid #3A3A3A;
    text-align: center;
    padding: 20px;
}
.registro{
    color: #0095f6;
    
}