*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{ height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
header{
    height: 150px;
    background-color: #FBC0D9;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav{
    position: absolute;
    bottom: 0px;
    width: 100%;

}
h1{
    color:#EF5DA8;
    display: flex;
    justify-content: center;

}
.menu{
    padding-left: 10% ;
    display: flex;
    align-items: center;
    gap: 20px;
    color:#7B6F94;
    background-color: #DCC6F9;

}
.papa{
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.hero{
    width: 70%;
    background-color: #D5F4FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: row-reverse;
    
   
}
.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.titulo{
    display: flex;
    align-items: center;
    color: #FF69B4; /* Rosa vibrante */
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    font-size: 50px; 
}
.hero-p{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #7B6F94;
    margin-top: 25px;
}
.hero-btn{
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(45deg, #FF4F9E, #E21C8E);
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    background-color: #FF1493;
    cursor: pointer;
    width: 200px;
    margin-top: 25px;
   
}
a{
    text-decoration: none;
    color: white;
}
.seccion2{
    width: 70%;
    background-color: #F7D6FF;
    color: #7B6F94;
    border-radius: 10px;
    padding: 0px 40px;

}
.sub3{
    color: #fd3197;
}
.subp{
    color: #b154f3;
}
.name{
    color: #eb56a0;
}

footer{ 
    height: 150px;
    display: flex;
    justify-content: center;
    color: #666666;
    background-color: #CDB4F3;
}