
html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://sdmntprnorthcentralus.oaiusercontent.com/files/00000000-3e90-622f-9d73-e223745c6cf9/raw?se=2025-07-04T03%3A52%3A58Z&sp=r&sv=2024-08-04&sr=b&scid=07015bc9-e291-5f93-8ef8-528ea662308d&skoid=add8ee7d-5fc7-451e-b06e-a82b2276cf62&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-07-03T14%3A53%3A16Z&ske=2025-07-04T14%3A53%3A16Z&sks=b&skv=2024-08-04&sig=9Okf/SEMS8XoPrQRtOQkmoUaLLjhC/0SuQwP5V9zECE%3D) ;
    background-size: cover;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 80px;
    background-color: #FBC0D9;
}
h1{
    color:#EF5DA8;
    display: flex;
    justify-content: center;

}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    color:#7B6F94;
    background-color: #DCC6F9;

}
.hero{
    background-color: #D5F4FF;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 100px ;
    padding: 100px;
    border-radius: 10px;

}
.winx{
    position: absolute;
    right: 10px;
}

.titulo{
    display: flex;
    align-items: center;
    font-size: 70px;
    color: #FF69B4; /* Rosa vibrante */
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5)
  
}
.hero-p{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #7B6F94;
}
.hero-btn{
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(45deg, #FF4F9E, #E21C8E);
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    background-color: #FF1493;
    cursor: pointer;
    width: 200px;
   
}
a{
    text-decoration: none;
    color: white;
}
main{
    flex: 1;
    height: 100%;
    
}
.seccion2{
    background-color: #F7D6FF;
    margin: 0px 30px;
    padding: 50px;
    color: #7B6F94;
    border-radius: 10px;
    margin: 100px;
}
.sub3{
    color: #fd3197;
}
.subp{
    color: #b154f3;
}
.name{
    color: #eb56a0;
}

footer{
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CDB4F3;
}