*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
html,
body{
    height: 100%;
    width: 100%;
}
.titulo{
    height: 10%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}
main{
    height: 75%;
    display: flex;
   flex-direction: column;
    justify-content: space-evenly;
}
.caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;

}
.caja1{
    background-color: red;
}
.caja2{
    background-color: aqua;
}
.caja3{
    background-color: red;
}
footer{
    height: 15%;
    display: flex;
   flex-direction: column;
    justify-content: space-evenly;
}
.footer1{
    background-color: yellow;
    border: 2px solid black;

}
.footer2{
    background-color: yellow;
    border: 2px solid black;
    

}
@media (min-width: 576px) {
   .titulo{
    background-color: aqua;
   } 
   .caja1{
    height: 250px;
    width: 400px;
   }
   .caja2{
    width: 400px;
    height: 250px;
   }
   .caja3{
    background-color: green;
   }
}