*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    gap: 8px;
}
header{
    background-color: pink;
    height: 10%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul{
    display: flex;
    gap: 16px;
}
li{
    list-style: none;
}
main{
    background-color: rgb(250, 232, 235);
}
.hero{
    display: flex;
}
.msg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.hero-titule{
    font-size: 80px;
    color: brown;
}
.hero-pa{
    font-size: 20px;
    color: brown;
}
.hero-btn{
    padding: 8px;
    background-color: brown;
    color: white;
    border: none;
}
.imag{
    display: grid;
    padding: 10px 20px;
    grid-template-columns: repeat( 3, 200px);
    justify-content: center;
    place-items: center;
    gap: 20px;

}
footer{
    background-color: rgb(253, 183, 195);
}